@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --main-bg: rgb(10, 25, 47);
  --secondary-bg: rgb(23, 42, 69);
  --text-primary: rgb(230, 241, 255);
  --text-secondary: rgb(168, 178, 209);
  --text-pale: rgb(136, 146, 176);
  --highlight: rgb(100, 255, 218);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg);
  color: var(--text-secondary);
}

h1 {
  margin: 1.4rem;
}

.product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products {
  padding: 2rem;
}

.product-card {
  /* margin: 1rem auto; */
  background-color: var(--secondary-bg);
  margin: 1rem;
  width: 100%;
  max-width: 18rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: var(--text-pale);
  /* background-color: #eee; */
  overflow: hidden;
}

.product-card-body {
  padding: 0.5rem;
}

.product-card h2 {
  font-weight: 600;
  padding: 0.4rem 0;
  font-size: 1.1rem;
}

.pricing span {
  font-size: 0.9rem;
  font-weight: 500;
}

.colors {
  padding: 0.8rem 0;
}

.colors .color-label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-primary);
}

.color-buttons {
  list-style: none;
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.color-buttons .color-button {
  cursor: pointer;
  margin-right: 0.6rem;
  width: 1.7rem;
  height: 1.7rem;
  border: 0;
  outline: 0;
  border-radius: 50%;
}

.color-buttons .color-button:focus {
  outline: 2px solid var(--highlight);
  outline-offset: 2px;
}
